# exclude the following dirs/files from archives:
.*                    export-ignore
da-fare               export-ignore
folders               export-ignore
icone-generiche       export-ignore
images                export-ignore
scripts               export-ignore
tools                 export-ignore
templates             export-ignore
